{% extends "base.html" %}
{% block content %}
<div>
    <h1>About</h1>
    <div class="about">
        <p><em>LazyNotes effectively summarizes sources into a collection of important details. In order to accommodate various 
            formats, LazyNotes was created to be able to summarize audio as well as text. For example, if a student wants to record a lecture, they can upload a recording to download a 
            summary. Additionally, pictures can be uploaded to LazyNotes directly, instead of text, as our app has the capabilities to detect text from pictures.
        </em></p>
    </div>
</div>
{% endblock content %}